*{
    border-radius: 20px;
    padding: 101;
    margin: 10;
}

.mainbody{
    width: 100%;
    background:url(https://cdn.pixabay.com/photo/2015/07/09/22/45/tree-838667_640.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.bar{
    width: 1200px;
    height: 75px;
    margin-left: 10px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orangered;
    font-size: 35px;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menubar{
    width: 400px;
    float: left;
    height: 70px;   
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li:hover{
    text-decoration: underline;
    color:(orange red green blue);
    /* text-decoration: darkorange; */
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.search{
    width: 300px;
    float: left;
    margin-left: 250px;
    border-radius: 20px;
}

.srch{
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-radius: 10px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    box-sizing:border-box;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 10px;
    cursor: pointer;

}

.btn:hover{
    background-color: white;
    transition: 0.4s ease-in-out;
    border-radius: 50px;
    background: black;
    background:transparent;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: orangered;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
    border-radius: 50px;
    transform: 0.5s;
}

.content span{
    color: orangered;
    font-size: 40px
}

.form{
    width: 250px;
    height: 380px;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    opacity: 1.5;
    border-top: none;
    border-right: none;
    border-left: none; 
    color:black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
}
.form input:hover{

    background-color: white;
    opacity: 1.5;
    transition: 1.5s;
    border: none;
    border-radius: none;
    text-decoration: white
}
.form input:focus{
    outline: none;
}

.btnn{
    width: 240px;
    height: 40px;
    background: orangered;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background-color: white;
    border-radius: 50px;
    transition:-0.1s;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: orangered;
}

img{
    width:40px;
    height:30px;
    bottom:60px;
    box-sizing:border-box;
    display: inline;
    margin-bottom: 10px;
    margin-top: -10px;
    border: none;
}
.form{
    border: 3px solid black;
}
ul li :hover{
    /* text-decoration: underline; */
    color: darkorange;
}
